button:hover {
	opacity: .9;
}

.btn {
	border-radius: 8px;
	box-shadow: 10px 10px 10px -10px;
	font-size: $font-size_2l;
	height: 50px;
	text-align: center;
	width: 240px;
	:hover {
		opacity: .5;
	}
}

.btn-dark {
	background-color: $color-dark;
	color: white;
	@extend .btn;
}

.btn-light {
	background-color: $color-light;
	color: white;
	@extend .btn;
}

.c-single-button-group {
	padding-top: $space_3l;
	text-align: center;
}

.c-double-button-group {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: $space_3l;
	text-align: center;
}

.c-wrapper-button {
	margin: 0 $space_l;
	width: 50%;
	.btn-dark, .btn-light {
		width: 100%;
	}
}