//====================================
//c-form
//====================================
.c-form {
	padding-bottom: $space_2l;
	padding-top: $space_2l;
	&__container {
		display: flex;
	}
	&__group {
		padding-bottom: $space_l;
		label {
			text-align: left;
		}
	}
	&__error {
		color: red;
		font-size: $font-size_s;
	}
}