/* ---------------------------------
c-link__under-button
--------------------------------- */
.c-link__under-button {
	padding-top: $space_2l;
	text-align: center;
	a {
		font-size: $font-size_m;
		text-decoration: underline;
	}
}