// /* ---------------------------------
// header
// --------------------------------- */

.l-footer {
	align-items: center;
	background: $color-dark;
	display: flex;
	height: 30px;
	justify-content: center;
	padding: $space_m;
	width: 100%;
}

.l-footer-light {
	background: $color-light;
	span {
		background: $color-light-accent;
	}
}