// /* ---------------------------------
// main
// --------------------------------- */
.l-main {
	display: flex;
	margin: 0 auto;
	max-width: 740px;
	min-height: calc(100vh - 30px);
	padding: 120px $space_4l 40px;
	&__inner {
		width: 100%;
	}
	&__base {
		display: flex;
		flex-direction: column;
	}
}